<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{ filename }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container mt-4">
        <h1>Edit File: {{ filename }}</h1>

        {% if message %}
            <div class="alert {% if message_type == 'ok' %}alert-success{% else %}alert-danger{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endif %}

        <table class="table table-bordered" id="data-table">
            <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    {% for column in columns %}
                        <td>
                            {% if column in item %}
                                {% if column == "text" %}
                                    {% for lang in languages %}
                                        <table class="languages-{{ lang }} languages w-100">
                                            {% if item[column][lang] is string %}
                                                <tr>
                                                    <td class="d-flex justify-content-between align-items-center">
                                                        <strong class="language-title">{{ lang }}</strong>
                                                        <button class="btn btn-primary btn-sm" onclick="addLanguageInput(this, '{{ lang }}')">Add</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="language-item d-flex">
                                                        <input class="form-control" value="5{{ item[column][lang] }}">
                                                        <button class="btn btn-danger btn-sm" onclick="deleteLanguageInput(this, '{{ lang }}')">Delete</button>
                                                    </td>
                                                </tr>
                                            {% elif item[column][lang] is iterable %}
                                                {% if item[column][lang]|length == 0 %}
                                                    <tr>
                                                        <td class="d-flex justify-content-between align-items-center">
                                                            <strong class="w-full language-title">{{ lang }}</strong>
                                                            <button class="btn btn-primary btn-sm" onclick="addLanguageInput(this, '{{ lang }}')">Add</button>
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td class="d-flex justify-content-between align-items-center">
                                                            <strong class="language-title">{{ lang }}</strong>
                                                            <button class="btn btn-primary btn-sm" onclick="addLanguageInput(this, '{{ lang }}')">Add</button>
                                                        </td>
                                                    </tr>
                                                    {% for val in item[column][lang] %}
                                                        <tr>
                                                            <td class="language-item d-flex">
                                                                <input class="form-control" value="{{ val }}">
                                                                <button class="btn btn-danger btn-sm" onclick="deleteLanguageInput(this, '{{ lang }}')">Delete</button>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            {% else %}
                                            <tr>
                                                <td>
                                                    <strong class="language-title">{{ lang }}</strong>
                                                    <td>Error in YAML...</td>
                                                    <td>
                                                        <button class="btn btn-primary btn-sm" onclick="addLanguageInput(this, '{{ lang }}')">Add</button>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        </table>
                                    {% endfor %}
                                {% else %}
                                    <input class="form-control" value="3{{ item[column] }}">
                                {% endif %}
                            {% else %}
                                {% if column == "text" %}
                                    {% for lang in languages %}
                                        <table class="languages-{{ lang }} languages w-100">
                                            <tr>
                                                <td class="d-flex justify-content-between align-items-center">
                                                    <strong class="language-title">{{ lang }}</strong>
                                                    <button class="btn btn-primary btn-sm" onclick="addLanguageInput(this, '{{ lang }}')">Add</button>
                                                </td>
                                            </tr>
                                        </table>
                                    {% endfor %}
                                {% else %}
                                    <input class="form-control" value="2">
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td>
                        <button class="btn btn-danger btn-sm" onclick="deleteRow(this)">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-success mb-4" onclick="addRow()">Add Row</button>
        <button class="btn btn-primary mb-4" onclick="save()">Save Changes</button>
    </div>

    <script type="text/javascript">
        function addLanguageInput(elm, lang) {
            const table = elm.closest('table');

            const newInputRow = document.createElement('tr');
            newInputRow.innerHTML = `<td class="language-item d-flex">
                <input class="form-control" value="">
                <button class="btn btn-danger btn-sm" onclick="deleteLanguageInput(this, '${lang}')">Delete</button>
            </td>`;
            
            table.appendChild(newInputRow);
        }

        function deleteLanguageInput(elm, lang) {
            const row = elm.closest('tr');
            row.remove();
        }

        function addText(column, button) {
            const inputGroup = button.closest('td').querySelector(`.${column}-inputs`);
            const input = document.createElement('input');
            input.classList.add('form-control');
            input.type = 'text';
            input.value = '';
            inputGroup.insertBefore(input, button);
        }

        function addRow() {
            const table = document.getElementById('data-table').querySelector('tbody');
            const row = document.createElement('tr');
            
            let rowContent = '';
            {% for column in columns %}
                {% if column == "text" %}
                    rowContent += `<td>`;
                    {% for lang in languages %}
                    rowContent += `<table class="languages-{{ lang }} languages w-100">
                        <tr>
                            <td class="d-flex justify-content-between align-items-center">
                                <strong class="language-title">{{ lang }}</strong>
                                <button class="btn btn-primary btn-sm" onclick="addLanguageInput(this, '{{ lang }}')">Add</button>
                            </td>
                        </tr>
                    </table>`;
                    {% endfor %}
                    rowContent += `</td>`;
                {% else %}
                    rowContent += `<td>
                        <div class="{{ column }}-inputs">
                            <input class="form-control" value="">
                        </div>
                    </td>`;
                {% endif %}
            {% endfor %}
            rowContent += '<td><button class="btn btn-danger btn-sm" onclick="deleteRow(this)">Delete</button></td>';

            row.innerHTML = rowContent;
            table.appendChild(row);
        }

        function deleteRow(button) {
            button.closest('tr').remove();
        }

        function save() {
            const rows = document.getElementById('data-table').querySelectorAll('tbody tr');

            const items = Array.from(rows).map(row => {
                const cells = row.querySelectorAll('input');
                const item = {};
                let values = [];

                {% for column in columns %}
                    values = Array.from(row.querySelectorAll(`.${column}-inputs input`)).map(input => input.value);
                    item["{{ column }}"] = values.length > 1 ? values : values[0];
                {% endfor %}

                return item;
            });

            console.log(items);

            // axios.post(window.location.pathname, { items })
            //     .then(response => alert('Saved successfully!'))
            //     .catch(error => alert('Failed to save.'));
        }
    </script>
</body>
</html>
