# Top-most EditorConfig file tells plugins to stop searching up the tree
root = true

# Shell / Bash script configuration mapping
[*.{sh,bash}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

[*.toml]
indent_size = 2
indent_style = space
