src/test
# TS
salam-wa.js
salam.min.js
src/salam.min.js
src/salam-wa.js
src/salam.js
src/phase/lexer/node_modules
src/phase/parser/node_modules
src/phase/validator/node_modules
src/phase/generator/node_modules
src/phase/*/node_modules
src/*/node_modules
src/node_modules
*/node_modules
node_modules
src/lexer/temp
src/lexer/temp/*
src/parser/temp
src/parser/temp/*
src/*/temp
src/*/temp/*
src/phase/lexer/dist/
src/phase/parser/dist/
src/phase/validator/dist/
src/phase/generator/dist/
src/phase/*/dist/

# Directories
.vscode/
.idea/

# Config JSON
config/json/**
config/.mypy_cache
.mypy_cache
config/module/__pycache__
# config/*.yaml
# config/**/*.yaml
build/data/tags/__pycache__/
build/data/styles/__pycache__/
build/data/tags/values/__pycache__/
build/data/styles/values/__pycache__/
build/__pycache__
build/data/__pycache__
build/tags/__pycache__/
build/tags/out.txt

# Files
src/*.o
src/*.wino

# Executable files
salam
salam.exe

# WebAssembly output
salam-wa.wasm
salam-wa.js
salam-wa.html

# Test output
test/**/output/

# Output files
out/*

src/update.tmp

# src/generated-config/
# config/generated-json/
config/module/__pycache__

# Generated test files
index.html
style.css
script.js
