# Directories
.vscode/
.idea/

# Config JSON
config/json/**
# config/*.yaml
# config/**/*.yaml

# Files
src/*.o
src/*.wino

# Executable files
salam
salam.exe

# WebAssembly output
salam-wa.wasm
salam-wa.js
salam-wa.html

# Test output
test/**/output/

# Output files
out/*

src/update.tmp

# src/generated-config/
# config/generated-json/
config/module/__pycache__

# Generated test files
index.html
style.css
script.js
