salam
s.exe
s
*.bin
*.exe

*.js
*.wasm

.vscode/**
.vscode/*

.idea
.idea/*
s.c
s.js

*.o
src/*.o
*.wino

src/main
src/main.exe
*.exe
src/*.exe

*.win.o
src/*.win.o

src/script.js
src/style.css
src/index.html
src/*.html

test/**/output/
