# https://pre-commit.com/#installation
default_stages: [pre-commit, pre-push]
default_language_version:
  python: python3
  node: 22.2.0
minimum_pre_commit_version: '3.2.0'
repos:
  - repo: meta
    hooks:
      - id: identity
        name: run identity
        description: run the identity check
      - id: check-hooks-apply
        name: check hooks apply to the repository
        description: useful when testing new hooks to see if they apply to the repository
  - repo: local
    hooks:
      - id: prettier
        name: run prettier
        description: format files with prettier
        entry: prettier --write .
        files: \.(md|ya?ml)$
        language: node
        additional_dependencies: ['prettier@3.3.3']
  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        name: run vulture
        description: find dead Python code
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.10.0
    hooks:
      - id: black
        name: run black
        description: run black on all Python files
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.2
    hooks:
      - id: bandit
        name: run bandit
        description: run bandit on all Python files
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['.[toml]']
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.23.0
    hooks:
      - id: gitleaks
        name: run detect hardcoded secrets
        description: run gitleaks to detect hardcoded secrets in the repo
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: ^config/layout/attribute/style/value\.yaml$
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: \.out$|\.html$
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        name: run codespell
        description: run the codespell spell checker
        exclude: |
          (?x)^(
            src/salam-wa.html|
            src/salam-wa.js|
            build/data/.*|
            build/tags/.*
          )$
        args: [--ignore-words=.github/linters/codespell.txt]
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.13.6
    hooks:
      - id: markdown-link-check
        name: run markdown link check
        description: check the Markdown files for broken links
        args: [-q]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        name: run markdownlint
        description: check Markdown files with markdownlint
        args: [--config=.github/linters/.markdown-lint.yml]
        types: [markdown]
        files: \.md$
  - repo: https://github.com/shssoichiro/oxipng
    rev: v9.1.3
    hooks:
      - id: oxipng
        name: run oxipng
        description: run oxipng lossless image compression on PNG files
        args: ['-o', '4', '--strip', 'safe', '--alpha']
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        name: run yamllint
        description: check YAML files with yamllint
        args: [--strict, -c=.github/linters/.yaml-lint.yml]
        types: [yaml]
        files: \.ya?ml$
        # env:
        #   PYTHONUTF8: '1'
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.6
    hooks:
      - id: clang-format
        name: run clang-format
        description: run ClangFormat on all C files
        args: ['--style=file']
        files: \.(c|h)$
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: run isort (python)
        description: a Python utility / library to sort imports
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.14.1'
    hooks:
      - id: mypy
        args: ['--explicit-package-bases', '--ignore-missing-imports']
