@import "tailwindcss";

@theme {
  --font-sans: 'Vazirmatn', system-ui, -apple-system, sans-serif;
  --font-mono: 'JetBrains Mono', 'Fira Code', monospace;
  --color-brand: #ff7a18;
  --color-accent-blue: #1e90ff;
  --color-danger: #ff5c5c;
}
