[MAIN]
ignore-patterns=

[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-function-docstring,
        invalid-name,
        redefined-outer-name,
        global-statement,
        duplicate-code
