      <section class="container not-found">
        <div class="big">{{404.code}}</div>
        <h1>{{404.heading}}</h1>
        <p class="lead">{{404.text}}</p>
        <div class="actions">
          <a class="button button-primary" href="/">{{404.home}}</a>
          <a class="button button-ghost" href="/learn/">{{nav.learn}}</a>
        </div>
      </section>
      {{#if site.moved_from}}<script>
        (function () {
          var from = "{{site.moved_from}}";
          var path = location.pathname;
          if (path === from || path.indexOf(from + "/") === 0) location.replace("{{site.base}}" + path.slice(from.length) + location.search + location.hash);
        })();
      </script>{{/if}}
